@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror:focus {
  outline: none;
}

.tiptap ul p,
.tiptap ol p {
  display: inline;
}

.tiptap p.is-editor-empty:first-child::before {
  font-size: 14px;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.open.hs-overlay-open\:mt-0 {
  margin-top: 0px;
}

.open.hs-overlay-open\:mt-7 {
  margin-top: 1.75rem;
}

.open.hs-overlay-open\:flex {
  display: flex;
}

.open.hs-overlay-open\:hidden {
  display: none;
}

.open.hs-overlay-open\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open.hs-overlay-open\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open.hs-overlay-open\:opacity-100 {
  opacity: 1;
}

.open.hs-overlay-open\:duration-500 {
  transition-duration: 500ms;
}

.open .hs-overlay-open\:mt-0 {
  margin-top: 0px;
}

.open .hs-overlay-open\:mt-7 {
  margin-top: 1.75rem;
}

.open .hs-overlay-open\:flex {
  display: flex;
}

.open .hs-overlay-open\:hidden {
  display: none;
}

.open .hs-overlay-open\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open .hs-overlay-open\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open .hs-overlay-open\:opacity-100 {
  opacity: 1;
}

.open .hs-overlay-open\:duration-500 {
  transition-duration: 500ms;
}

.hs-overlay-backdrop.hs-overlay-backdrop-open\:z-\[55\] {
  z-index: 55;
}

/* Tabel */
[data-hs-tab].active.hs-tab-active\:border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

[data-hs-tab].active.hs-tab-active\:border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
}

[data-hs-tab].active.hs-tab-active\:border-b-blue-600 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity));
}

[data-hs-tab].active.hs-tab-active\:border-b-transparent {
  border-bottom-color: transparent;
}

[data-hs-tab].active.hs-tab-active\:border-t-blue-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(37 99 235 / var(--tw-border-opacity));
}

[data-hs-tab].active.hs-tab-active\:border-t-indigo-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(79 70 229 / var(--tw-border-opacity));
}

[data-hs-tab].active.hs-tab-active\:bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:font-medium {
  font-weight: 500;
}

[data-hs-tab].active.hs-tab-active\:font-semibold {
  font-weight: 600;
}

[data-hs-tab].active.hs-tab-active\:text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:text-stone-800 {
  --tw-text-opacity: 1;
  color: rgb(41 37 36 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[data-hs-tab].active.hs-tab-active\:shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[data-hs-tab].active.hs-tab-active\:text-blue-600.active {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:after\:bg-gray-800::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:after\:bg-stone-800::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(41 37 36 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:hover\:border-transparent:hover {
  border-color: transparent;
}

[data-hs-tab].active.hs-tab-active\:hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[data-hs-tab].active.hs-tab-active\:focus\:bg-gray-200:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:focus\:bg-gray-50:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

[data-hs-tab].active.hs-tab-active\:focus\:text-gray-800:focus {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

[data-hs-tab].active .hs-tab-active\:border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
}

[data-hs-tab].active .hs-tab-active\:border-b-blue-600 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity));
}

[data-hs-tab].active .hs-tab-active\:border-b-transparent {
  border-bottom-color: transparent;
}

[data-hs-tab].active .hs-tab-active\:border-t-blue-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(37 99 235 / var(--tw-border-opacity));
}

[data-hs-tab].active .hs-tab-active\:border-t-indigo-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(79 70 229 / var(--tw-border-opacity));
}

[data-hs-tab].active .hs-tab-active\:bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:font-medium {
  font-weight: 500;
}

[data-hs-tab].active .hs-tab-active\:font-semibold {
  font-weight: 600;
}

[data-hs-tab].active .hs-tab-active\:text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:text-stone-800 {
  --tw-text-opacity: 1;
  color: rgb(41 37 36 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[data-hs-tab].active .hs-tab-active\:shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[data-hs-tab].active .hs-tab-active\:text-blue-600.active {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:after\:bg-gray-800::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:after\:bg-stone-800::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(41 37 36 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:hover\:border-transparent:hover {
  border-color: transparent;
}

[data-hs-tab].active .hs-tab-active\:hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[data-hs-tab].active .hs-tab-active\:focus\:bg-gray-200:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:focus\:bg-gray-50:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

[data-hs-tab].active .hs-tab-active\:focus\:text-gray-800:focus {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
