@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror:focus {
  outline: none;
}

.open.hs-overlay-open\:mt-0 {
  margin-top: 0px;
}

.open.hs-overlay-open\:mt-7 {
  margin-top: 1.75rem;
}

.open.hs-overlay-open\:flex {
  display: flex;
}

.open.hs-overlay-open\:hidden {
  display: none;
}

.open.hs-overlay-open\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open.hs-overlay-open\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open.hs-overlay-open\:opacity-100 {
  opacity: 1;
}

.open.hs-overlay-open\:duration-500 {
  transition-duration: 500ms;
}

.open .hs-overlay-open\:mt-0 {
  margin-top: 0px;
}

.open .hs-overlay-open\:mt-7 {
  margin-top: 1.75rem;
}

.open .hs-overlay-open\:flex {
  display: flex;
}

.open .hs-overlay-open\:hidden {
  display: none;
}

.open .hs-overlay-open\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open .hs-overlay-open\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.open .hs-overlay-open\:opacity-100 {
  opacity: 1;
}

.open .hs-overlay-open\:duration-500 {
  transition-duration: 500ms;
}

.hs-overlay-backdrop.hs-overlay-backdrop-open\:z-\[55\] {
  z-index: 55;
}
